.page-title{
    display: flex
}
.lottie{
    margin-left: 35%;
}

#img-negative{
    width: 850px;
}

#img-positive{
    width: 850px;
}

body {
    background: #f8f4f2
}

@media screen and (max-width: 480px){
    .page-title{
        display: flex
    }
    .lottie{
        margin-left: 5%;
    }
    h2{
    font-size: 2.5rem;
    }
    #img-negative{
        width: 350px;
    }

    #img-positive{
        width: 350px;
    }
}


