.page-title{
    display: flex
}
.lottie{
    margin-left: 35%;
}

#img-negative{
    width: 850px;
}

#img-positive{
    width: 850px;
}

body {
    background: #f8f4f2
}
.dashboard{
    margin-top:6rem
}
.charts{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.first-chart{
    width: 50rem;
    height: 30.5rem;
}
.leaderboard{
    margin-bottom: 2rem;
}

@media screen and (max-width: 480px){
    .page-title{
        display: flex
    }
    .lottie{
        margin-left: 5%;
    }
    h2{
    font-size: 2.5rem;
    }
    #img-negative{
        width: 350px;
    }

    #img-positive{
        width: 350px;
    }

    .first-chart{
        width: 25rem;
        height: 21.75rem;
    }

}


