{% extends "template.html" %}
{% block content %}
<h3>Sobre este projeto</h3>
<blockquote>Conheça as motivações e acompanhe o desenvolvimento deste trabalho</blockquote>
 <ul class="collapsible">
     <li>
      <div class="collapsible-header"><i class="material-icons">priority_high</i>O que é este projeto</div>
      <div class="collapsible-body">
        <lottie-player class="lottie"  src="https://assets10.lottiefiles.com/packages/lf20_lKvkGl.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player>
          <p>Este projeto é uma implementação prática de um trabalho de graduação de curso sobre anállise sentimental em redes sociais.
          O sistema realiza a análise sentimental a partir de um data mining na rede social Twitter aplicando
          conceitos de Machine Learning e Natural Language Processing.</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">child_friendly</i>O início</div>
      <div class="collapsible-body">
        <lottie-player class="lottie"  src="https://assets8.lottiefiles.com/packages/lf20_v7QuNE.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
          <span>Escolher um tema pode ser um processo complicado, para nós, realmente o foi. Foram extensas conversas e inúmeras trocas de mensagens.
              O tema alternou de aprendizado de  máquina para processamento de imagens em análises clínicas para aprendizado de máquina na análise de scripts shell
              para Sistemas Operacionais e até consideramos fazer um classificador com regressão linear para calcular a possibilidade de um candidato ser contratado para
              uma vaga com base em seu currículo.
          </span>
          <span>
              Percebe-se uma  característica em comum entre esses temas: O aprendizado de máquina. Refinamos bastante a ideia até compreendermos que queríamos um sistema que
              demonstrasse de forma acessível e descomplicada a implementação de temas que, a priori , parecem complexos.
          </span>
          <span>
              Percebe-se uma  característica em comum entre esses temas: O aprendizado de máquina. Refinamos bastante a ideia até compreendermos que queríamos um sistema que
              demonstrasse de forma acessível e descomplicada a implementação de temas que, a priori , parecem complexos.
          </span>
          <span>
              Esperamos que ao interagir com esse sistema você perceba que tópicos de inteligência artificial não são hipotéticos.
          </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">school</i>Decisão do orientador</div>
      <div class="collapsible-body">
            <lottie-player class="lottie"  src="https://assets8.lottiefiles.com/private_files/lf30_GTmtHy.json"  background="transparent"  speed="1"  style="width: 230px; height: 230px;"  loop  autoplay></lottie-player>
          <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4252362P4"><span>Leandro Colevati dos Santos</span></a>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">code</i>O desenvolvimento</div>
      <div class="collapsible-body">
          <lottie-player class="lottie"  src="https://assets8.lottiefiles.com/packages/lf20_dl87KC.json"  background="transparent"  speed="2"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
          <span>Em construção...</span>
      </div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">computer</i>Tecnologias usadas</div>
      <div class="collapsible-body">
            <ul class="collection">
    <li class="collection-item avatar">
      <img src="/static/profiles/python.png" alt="" class="circle">
      <span class="title">Linguagem Principal</span>
      <p>Python <br>
         Python é uma linguagem de programação de uso geral que pode fazer praticamente qualquer coisa que você precisa,
          sua combinação com ferramentas como Pandas, Numpy, Scipy, Scikit-learn e Seaborn, torna a linguagem a mais viável para o projeto.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="/static/profiles/flask.png" alt="" class="circle">
      <span class="title">Framework web</span>
      <p>Flask<br>
         Escrito em Python e disponível sobre a licença BSD (Licença de código aberto), o Flask é um micro-framework
          multiplataforma que provê um modelo simples para o desenvolvimento web.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="/static/profiles/matcss.png" alt="" class="circle">
      <span class="title">Framework css</span>
      <p>Materialize<br>
         Baseado no Material Design
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="/static/profiles/gunicorn.png" alt="" class="circle">
      <span class="title">Servidor HTTP</span>
      <p>Gunicorn</p>
    </li>
  </ul>
      </div>
    </li>
  </ul>

<script>
    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
    accordion: false
    });
</script>
{% endblock %}
