{% extends "template.html" %}
{% block content %}
<div class="profiles">
        <h3 class="header">Desenvolvedores</h3>
        <blockquote>Somos uma dupla de alunos da Faculdade de Tecnologia da Zona Leste</blockquote>
        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
              <img src="./static/profiles/profile_gustu.jpg" width="150px">
            </div>
          </div>
          <div class="col s12 m9 card-content">
            <h4>Gustavo Brito <a class="btn-floating red lighten-1" href="https://github.com/gustuxd" target="_blank"><i class="material-icons">add</i></a></h4>
            <p>Gustavo é discente do curso de Análise e Desenvolvimento de Sistemas pela Fatec/ZL. Técnico em informática pela Etec. Trabalha como programador back-end na Linx. </p>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
              <img src="./static/profiles/profile_douglas.jpg" width="150px">
              </div>
          </div>
          <div class="col s12 m9">
            <h4>Douglas Brito <a class="btn-floating red lighten-1" href="https://douglascorreiabrito.github.io/" target="_blank"><i class="material-icons">add</i></a></h4>

            <p>Douglas é discente do curso de Análise e Desenvolvimento de Sistemas pela Fatec/ZL. Técnico em informática pela Etec.
                Ex-discente de Ciência da Computação pela UFMT. Trabalha como programador full-stack na Iteris.</p>
          </div>
        </div>
</div>
{% endblock %}
