{% extends "template.html" %}
{% block content %}
<div class="error">
    <h2>Ops, tivemos um problema com esse termo de busca</h2>
    <blockquote>Não foi possível encontrar uma quantidade suficiente de tweets sobre {{term}} para realizar de forma satisfatória a análise de sentimentos.</blockquote>
    <blockquote>Tente procurar por outro assunto.</blockquote>
    <lottie-player class="lottie" src="https://assets10.lottiefiles.com/packages/lf20_NjRqYM.json"  background="transparent"  speed="1"  style="width: 250px; height: 250px;" loop autoplay></lottie-player>
</div>
{% endblock %}
