{% extends "template.html" %}
{% block content %}
        <div class="page-header">
            <div class="page-title">
                <h2>{{title}}</h2>
             <lottie-player class="lottie-index" src="https://assets1.lottiefiles.com/packages/lf20_8FBVLz.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
            </div>
            <blockquote>
                {{description}}
            </blockquote>
        </div>
 <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <form action="/results" method="post" onsubmit="preloader()">
        <div class="input-field">
          <input id="search" name="search" type="search" placeholder="digite..." required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
<section id="preloader" style="margin-top: 4em; visibility: hidden;">
    <h6 style="text-align: center" id="text-loader">Conectando ao Twitter </h6>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
</section>
<script>
function preloader() {
  document.getElementById("preloader").style.visibility = "visible";
}
</script>

{% endblock %}
